.navbar-brand {
    background-image: url(https://i.imgur.com/7GWS2ZH.png) !important;
    background-size: contain;
    background-repeat: no-repeat;

    color: transparent !important;
}

.bg-primary,
.btn-primary,
.badge-primary,
.dropdown-item:hover,
.dropdown-item:focus {
    background-color: #D40000 !important;
    border-color: #a10000 !important;
}

.navbar.bg-primary,
.border-primary {
    border-color: #a10000 !important;
}

.text-primary,
a:not(.btn):not(.nav-link):not(.navbar-brand):not(.dropdown-item):not(.text-white):not(.text-danger):not(.fc-event):not(.page-link) {
    color: #D40000 !important;
}

.dropdown-item:active {
    background-color: #D40000 !important;
}

#event-title:hover {
    color: #a10000 !important;
}

footer {
    opacity: 0.0 !important;
}

#footer {
    opacity: 0.0 !important;
}